<template>
    <div class="field">
        <div class="card">
            <div class="card-content">
                <p class="title is-4">Allgemeines</p>
                <label class="label">Zugeordneter Landwirt</label>

                <div class="control">
                    <vetprovieh-select id="farmer" property="farmer.id" display="name" required>
                        <template>
                            <div style="padding:15px">
                                <span>{{name}} ({{vvvoNumber}})</span>
                            </div>
                        </template>
                    </vetprovieh-select>
                </div>

                <label class="label">Stall-Bezeichnung</label>
                <div class="control">
                    <input property="name" class="input " type="text" required>
                </div>

                <select-animal property="animal" label="Tierart"></select-animal>

                <label class="label">VVVO</label>
                <div class="control">
                    <input property="vvvoNumber" placeholder="276..." class="input" type="text"
                        required>
                </div>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-content">
                <p class="title is-4">Addresse
                    <button id="geoDeviceButton" is="geo-button" type="button" class="button is-info is-outlined">
                        Aktuelle Position laden
                    </button>
                </p>
                <div class="columns">
                    <div class="column">
                        <div class="columns">
                            <div class="column is-four-fifths">
                                <label class="label">Straße</label>
                                <div class="control">
                                    <input property="address.streetName" class="input " type="text">
                                </div>
                            </div>
                            <div class="column">
                                <label class="label">Hausnummer</label>
                                <div class="control">
                                    <input property="address.streetNumber" 
                                        class="input " type="text">
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <label class="label">Postleitzahl</label>
                                <div class="control">
                                    <input property="address.postalCode"
                                        pattern="^([0]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{3}$" class="input "
                                        type="text">
                                </div>
                            </div>
                            <div class="column is-four-fifths">
                                <label class="label">Stadt</label>
                                <div class="control">
                                    <input property="address.city" class="input" type="text">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <geo-map id="geoMap" width="300" height="400">

                        </geo-map>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <div class="card">
            <div class="card-content">
                <div class="columns">
                    <div class="column  is-four-fifths">
                        <label class="label">Betreuender Tierarzt</label>
                        <div class="control">
                            <input property="lastVet.lastname" disabled class="input " type="text">
                        </div>
                    </div>
                    <div class="column">
                        <label class="label">Letzter Besuch</label>
                        <div class="control">
                            <input property="lastVisit" class="input" disabled type="date">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-content">
                <p class="title is-4">Weiterführendes</p>
                <ul class="menu-list">
                    <li>
                        <a href="/careplans/operational/2_selectCareplan.html?barn_id={{id}}&animal={{animal}}">
                            <i class="fas fa-hand-holding-medical"></i>
                            Neue Behandlung
                        </a>
                    </li>
                    <li>
                        <a href="/careplans/operational?barn_id={{id}}">
                            <i class="fas fa-hand-holding-medical"></i>
                            Durchgeführte Behandlungen
                        </a>
                    </li>
                    <li>
                        <a href="/farmers/show.html?id={{id}}">
                            <i class="fas fa-warehouse"></i>
                            Zum Landwirt navigieren
                        </a>
                    </li>
                    <li>
                        <a href="/documents/index.html?barnId={{id}}">
                            <i class="fas fa-file-alt"></i>
                            Hinterlegte Dokumente
                        </a>
                    </li>
                    <li>
                        <a href="/drugtreatments/index.html?barnId={{id}}">
                            <i class="fas fa-syringe"></i>
                            Durchgeführte Antibiotikabehandlungen
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <open-objectives amount="0"></open-objectives>
</template>