<template>
    <div class="field">
        <div class="card">
            <div class="card-content">
                <p class="title is-4">Allgemeines</p>
                <label class="label">Zugeordneter Landwirt</label>

                <div class="control">
                    <vetprovieh-select id="farmer" property="farmer.vvvoNumber" display="name" required>
                        <template>
                            <div style="padding:15px">
                                <span>{{name}} ({{vvvoNumber}})</span>
                            </div>
                        </template>
                    </vetprovieh-select>
                </div>

                <label class="label">Stall-Bezeichnung</label>
                <div class="control">
                    <input property="name" class="input " type="text" required>
                </div>


                <label class="label">Tierart</label>
                <div class="control">
                    <select property="animal" class="input" required>
                        <option value="SON">Sonstige Tier-/Nutzungsarten, nicht mitteilungspfl.</option>
                        <option value="RM1">Rinder - Mastkälber bis 8 Mo, mitteilungspflichtig</option>
                        <option value="RM2">Rinder - Mast ab 8 Mo, mitteilungspflichtig</option>
                        <option value="RN1">Rinder - Mastkälber bis 8 Mo, nicht mitteilungspfl.</option>
                        <option value="RN2">Rinder - Mast ab 8 Mo, nicht mitteilungspfl.</option>
                        <option value="RN3">Rinder - sonstige, nicht mitteilungspflichtig</option>
                        <option value="SM1">Schweine - Mastferkel bis 30 kg, mitteilungspflichtig</option>
                        <option value="SM2">Schweine - Mast über 30 kg, mitteilungspflichtig</option>
                        <option value="SN1">Schweine - Mastferkel bis 30 kg, nicht mitteilungspfl.</option>
                        <option value="SN2">Schweine - Mast über 30 kg, nicht mitteilungspfl.</option>
                        <option value="SN3">Schweine - sonstige, nicht mitteilungspfl.</option>
                        <option value="HM1">Hühner - Mast, mitteilungspflichtig</option>
                        <option value="HN1">Hühner - Mast, nicht mitteilungspfl.</option>
                        <option value="HN2">Hühner - sonstige, nicht mitteilungspfl.</option>
                        <option value="PM1">Puten - Mast, mitteilungspflichtig</option>
                        <option value="PN1">Puten - Mast, nicht mitteilungspfl.</option>
                        <option value="PN2">Puten - sonstige, nicht mitteilungspfl.</option>
                    </select>
                </div>

                <label class="label">VVVO</label>
                <div class="control">
                    <input property="vvvoNumber" pattern="276\\d{12}" placeholder="276..." class="input" type="text"
                        required>
                </div>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-content">
                <p class="title is-4">Addresse
                    <button id="geoDeviceButton" is="geo-button" type="button" class="button is-info is-outlined">
                        Aktuelle Position laden
                    </button>
                </p>
                <div class="columns">
                    <div class="column">
                        <div class="columns">
                            <div class="column is-four-fifths">
                                <label class="label">Straße</label>
                                <div class="control">
                                    <input property="address.streetName" class="input " type="text">
                                </div>
                            </div>
                            <div class="column">
                                <label class="label">Hausnummer</label>
                                <div class="control">
                                    <input property="address.streetNumber" pattern="\\d+[ ]{0,1}[a-z]{0,2}"
                                        class="input " type="text">
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <label class="label">Postleitzahl</label>
                                <div class="control">
                                    <input property="address.postalCode"
                                        pattern="^([0]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{3}$" class="input "
                                        type="text">
                                </div>
                            </div>
                            <div class="column is-four-fifths">
                                <label class="label">Stadt</label>
                                <div class="control">
                                    <input property="address.city" class="input" type="text">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <geo-map id="geoMap" width="300" height="400">

                        </geo-map>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <div class="card">
            <div class="card-content">
                <div class="columns">
                    <div class="column  is-four-fifths">
                        <label class="label">Betreuender Tierarzt</label>
                        <div class="control">
                            <input property="lastVet" disabled class="input " type="text">
                        </div>
                    </div>
                    <div class="column">
                        <label class="label">Letzter Besuch</label>
                        <div class="control">
                            <input property="lastVisit" class="input" disabled type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
        </div>
    </div>
</template>