#title {
    font-size: 21px;
    line-height: 50px;
    text-align: center;
}

.has-background-vetprovieh-blue{
    background-color: #0a143a !important;
    padding: 2px;
}
.has-background-vetprovieh-light-blue{
    background-color: #233f68 !important;
}

.navbar-center {
    margin: auto auto;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 30;
}

.full-height {
    min-height: calc(100vh - 92px);
}

vetprovieh-layout footer {
    border-top: 2px solid #fff;
}

.no-flex{
    display: block !important;
}

.panel-block.is-active {
    background-color:  #3273dc !important;
}

body {
    visibility: hidden;
}