#title {
    font-size: 21px;
}

.has-background-vetprovieh-blue{
    background-color: #0a143a;
}
.has-background-vetprovieh-light-blue{
    background-color: #233f68;
}



.navbar-center {
    margin: auto auto;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 30;
}

.full-height {
    min-height: calc(100vh - 230px);
}