<template>
    <div class="field">
        <div class="card">
            <div class="card-content">
                <p class="title is-4">Allgemeines</p>

                <div class="columns">
                    <div class="column">
                        <label class="label">Bezeichnung</label>
                        <div class="control">
                            <input property="name" class="input " type="text" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <p class="title is-4">Untergeordnete Gruppen</p>
                <table class="table">
                    <thead>
                        <th>
                            Pos
                        </th>
                        <th>
                            Gruppe
                        </th>
                    </thead>
                    <tbody>
                        <tr id="groups" is="tr-repeat">
                            <template>
                                <td>
                                    {{position}}
                                </td>
                                <td>
                                    <a href="groups/show.html?id={{id}}" is="local-store">
                                        {{name}}
                                    </a>
                                </td>
                            </template>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>