<template>
    <div class="field">
        <div class="card">
            <div class="card-content">
                <p class="title is-4">Allgemeines</p>

                <div class="columns">
                    <div class="column">
                        <label class="label">Bezeichnung</label>
                        <div class="control">
                            <input property="name" class="input " type="text" required>
                        </div>

                        <select-animal property="animal" label="Für Tierart"></select-animal>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <p class="title is-4">Untergeordnete Gruppen</p>
                <vp-table id="groups">
                    <template>
                        <tr>
                            <td>
                                {{position}}
                            </td>
                            <td>
                                <a href="groups/show.html?id={{id}}" >
                                    {{name}}
                                </a>
                            </td>
                        </tr>
                    </template>
                </vp-table>
            </div>
        </div>
    </div>
</template>