<template>
    <div class="field">
        <div class="card">
            <div class="card-content">
                <p class="title is-4">Allgemeines</p>

                <div class="columns">
                    <div class="column">
                        <label class="label">Bezeichnung</label>
                        <div class="control">
                            <input property="name" class="input " type="text" required>
                        </div>

                        <select-animal property="animal" label="Für Tierart"></select-animal>
                        <br/>
                        <label class="checkbox">
                            <input property="readOnly" type="checkbox">
                            Schreibgeschützt?
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <p class="title is-4">Untergeordnete Behandlungsgruppe</p>
                <vp-table id="groups">
                </vp-table>
                <br/>
                <div class="buttons">
                    <a id="addGroupButton" class="button is-link is-small" href="groups/new.html?careplanId={{id}}">
                        Neues Behandlungsgruppe einfügen
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>