<template>
    <div class="field">
        <div class="card">
            <div class="card-content">
                
                <label class="label">Benutzername</label>
                <div class="control">
                    <input property="userName" class="input " type="text" required>
                </div>

                <label class="label">Email</label>
                <div class="control">
                    <input property="email" class="input " type="text" required>
                </div>

                <label class="label">Vorname</label>
                <div class="control">
                    <input property="firstName" class="input " type="text" required>
                </div>

                <label class="label">Nachname</label>
                <div class="control">
                    <input property="lastName" class="input " type="text" required>
                </div>
            </div>
        </div>
    </div>
</template>