<!DOCTYPE html>
<vp-operation-plan id="detail" src="/service/operationplans">
    <template>
        <div class="columns">
            <div id="mainCol" class="column is-four-fifths-fullhd is-two-thirds-tablet is-12-mobile">
                <div id="group"></div>
            </div>
            <div class="column">
                <!--#include file="_sidemenu.html"-->
            </div>
        </div>

        <open-objectives id="openObjectives" autoload="true"></open-objectives>
    </template>
</vp-operation-plan>