<div id="processMenuDiv" class="is-hidden-mobile">
    <article class="panel">
        <p class="panel-heading" style="cursor: pointer;">
            Aktueller Stall
        </p>
        <div class="panel-block">
            <barn-list-show barnid="{{barnId}}"></barn-list-show>
        </div>
    </article>
    <article class="panel">
        <p class="panel-heading">
            Ihr Prozess
        </p>
        <div class="panel-block">
            <process-menu id="processMenu">
            </process-menu>
        </div>
    </article>
</div>


<vetprovieh-sidemenu id="right-menu" orientation="right" width="300px">
    <p class="menu-label">
        Aktueller Stall
    </p>
    <barn-list-show barnid="{{barnId}}"></barn-list-show>
    
    <p class="menu-label">
        Behandlungsprozess
    </p>
    <process-menu id="processMenu2">
    </process-menu>
</vetprovieh-sidemenu>