<div id="processMenuDiv" class="is-hidden-mobile">
    <article class="panel">
        <p class="panel-heading" style="cursor: pointer;">
            Aktueller Stall
        </p>
        <div class="panel-block">
            <barn-list-show barnid="{{barn.id}}"></barn-list-show>
        </div>
    </article>
    <article class="panel">
        <p class="panel-heading">
            Ihr Prozess
        </p>
        <div class="panel-block">
            <process-menu id="processMenu">
            </process-menu>
        </div>
    </article>
    <article class="panel">
        <p class="panel-heading">
            Bestandsdaten
        </p>
        <div class="panel-block">
            <ul class="menu-list">
                <li>
                    <a href="/documents/index.html?barnId={{barn.id}}">
                        <i class="fas fa-file-alt"></i>
                        Dokumente
                    </a>
                </li>
                <li>
                    <a href="/careplans/operational/index.html?barn_id={{barn.id}}">
                        <i class="fas fa-hand-holding-medical"></i>
                        Behandlungen
                    </a>
                </li>
            </ul>
        </div>
    </article>
    <opplan-pdf-button objectid="{{id}}"></opplan-pdf-button>
    <!--<vetprovieh-assistant id="speechAssistant"></vetprovieh-assistant>-->
</div>


<vetprovieh-sidemenu id="right-menu" orientation="right" width="300px">
    <template>
    <p class="menu-label">
        Aktueller Stall
    </p>
    <barn-list-show barnid="{{barn.id}}"></barn-list-show>

    <p class="menu-label">
        Behandlungsprozess
    </p>
    <process-menu id="processMenu2">
    </process-menu>
    <p class="menu-label">
        Bestandsdaten
    </p>
    <ul class="menu-list">
        <li>
            <a href="/documents/index.html?barnId={{barn.id}}">
                <i class="fas fa-file-alt"></i>
                Dokumente
            </a>
        </li>
        <li>
            <a href="/careplans/operational/index.html?barn_id={{barn.id}}">
                <i class="fas fa-hand-holding-medical"></i>
                Behandlungen
            </a>
        </li>
    </ul>
    <hr/>
    <opplan-pdf-button objectid="{{id}}"></opplan-pdf-button>
    <hr/>
    <vetprovieh-assistant id="speechAssistant"></vetprovieh-assistant>
    </template>
</vetprovieh-sidemenu>